<!DOCTYPE html>
<html lang="en">

<head>
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="../css/login.css">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="icon" href="../../assets/images/image-logo-01.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Log in
    </title>
</head>
<body>

    <head>
        <header>
            <p>
                Mega Rocket SA
            </p>
        </header>
    </head>
    <a href="./index.html">
        <h6>
            < back to landing page </h6>
    </a>
    <main>
        <h2>
            Log In
        </h2>
        <form id="form">
            <label class="label-login-form" for="mail">
                Email
            </label>
            <input type="text" id="mail" name="mail">
            <span class="hide-class" id="invalid-mail">
                Invalid Email
            </span>

            <label class="label-login-form" for="password2">
                Password
            </label>
            <input type="password" id="password2" name="password2">
            <span class="hide-class" id="invalid-password2">
                Invalid Password
            </span>
            <div class="password-item">
                <div class="login-sub-item">
                    <input type="radio" id="Password-remember" name="Password-remember">
                    <h6>
                        Remember me
                    </h6>
                </div>
                <div class="login-sub-item">
                    <a href="./recover.html">
                        Forgot Password?
                    </a>
                </div>
            </div>
            <button id="login-button" type="submit" value="Login">
                Log in
            </button>
            <h6 id="h6-new-user">
                Are you new here?
                <a href="./sign-up.html">
                    Register
                </a>
            </h6>
        </form>
        <script src="../js/login.js"></script>
    </main>
</body>

</html>