<!DOCTYPE html>
<html lang="en">
<head>
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="icon" href="../../assets/images/image-logo-01.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        Sign Up
    </title>
    <script src="../js/sign-up.js"></script>
</head>
<body>
    <head>
        <header>
                <p>
                Mega Rocket SA
                </p>
        </header>
    </head>
    <a href="./index.html">
        <h6>
        < back to landing page
    </h6>
    </a>
    <main>
        <h2>
            Sign Up
        </h2>
        <div class="sign-up-container">
            <div class="Column-Container">
                <form>
                    <label for="name">
                        <em>
                            Name
                        </em>
                        <input type="text" name="name" id="name">
                        <span>
                        </span>
                    </label>
                    <label for="dni">
                        <em>
                            Document Number
                        </em>
                        <input type="text" name="dni" id="dni">
                        <span></span>
                    </label>
                    <label for="phone">
                        <em>
                            Phone Number
                        </em>
                        <input type="text" name="phone" id="phone">
                        <span>
                        </span>
                    </label>
                    <label for="city">
                        <em>
                            City
                        </em>
                        <input type="text" name="city" id="city">
                        <span></span>
                    </label>
                    <label for="emails">
                        <em>
                            Email
                        </em>
                        <input type="text" name="emails" id="emails">
                        <span>
                        </span>
                    </label>
                    <label for="reppassword">
                        <em>
                            Repeat Password
                        </em>
                        <input type="password" name="reppassword" id="reppassword">
                        <span></span>
                    </label>
                </form>
            </div>
            <div class="Column-Container">
                
                    <label for="lastname">
                        <em>
                            Last Name
                        </em>
                        <input type="text" name="lastname" id="lastname">
                        <span>
                        </span>
                    </label>
                    <label>
                        <em>
                            Birth Date
                        </em>
                        <input type="date" >
                        <span></span>
                    </label>
                    <label for="address">
                        <em>
                            Address
                        </em>
                        <input type="text" name="address" id="address">
                        <span>
                        </span>
                    </label>
                    <label for="zipcode">
                        <em>
                            Zip Code
                        </em>
                        <input type="text" name="zipcode" id="zipcode">
                        <span></span>
                    </label>
                    <label for="password">
                        <em>
                            Password
                        </em>
                        <input type="password" name="password" id="password">
                        <span>
                        </span>
                    </label>
                    <button type="submit">
                            Sign Up
                    </button>
                </form>
               
            </div>
        </div>
    </main>
</body>
</html>