html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #dde1e9;
}
  
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }


  /*HEADER*/
  header{
    z-index: 98;
    background-color: #373867;
    height: 150px;
    width: 100vw;
    
    left: 0;
    top: 0;
    position: fixed;
  }
  header p{
    font-size: 40px;
    color: #fff;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px; 
    margin-left: -209px;
   font-weight: bold;
  }

  li img{
    width: 25px;
  }
  ul li input{
    margin-top: 30px;
    margin-left: 70px;
   width: 200px;
   height: 40px;
   border-radius: 5px;
   border: none;
  }
  input::placeholder{
    position: relative;
    left: 5px;
    
  }
  /*ASIDE BAR*/
  aside{
    background-color: #F6F6F6;
    width: 335px;
    position: fixed;
    margin-top: 150px;
    height: 100vh;
    
  }
 
  ul li img{
    margin-left: 20px;
   
  }
  ul li button{
    background-color: #AACE9B;
    border: none;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
  }
  ul li button:hover{cursor: pointer;}
  ul li button p{
    font-size: 30px;
    font-weight: bold;
  }


  .info-aside{
    margin-top: 120px;
    width: 330px;
    margin-left: 20px;
    position: relative;
  }
  aside h3{
    margin-left: 65px;
  }
ul{
    list-style-type:none;
}
    ul li img{
        margin-top: 30px;
    }
  
  ul li a{
    justify-content: center;
    align-content: center;
    position: absolute;
    margin-top: 34px;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    width: 230px;
    
  
}



  /*CONTENIDO*/
  .not-static{
    margin: 0 150px;
    position: absolute;
    left: 335px;
    top: 150px;
  }


  main{text-align: center;}
  .table-activities{
  display: inline-block;
  
}
.section-activities h2{
  margin: 50px 0;
}
.table-activities img,.table-activities h5{
  margin-left: 50px;
  margin-top: 30px;
}
  .table-activities img{
    width: 300px;
    height: 220px;
   
  }

  .section-memberships h2{
    margin: 50px 0;
  }

  #black{
    background-color: #2A2A32;
    color: #FFF;
    border-radius: 5px;
    padding: 5px 30px;
    display: inline-block;
  }
  #classic{
    background-color: #CCCBCB;
    color: #000;
    border-radius: 5px;
    padding: 5px 30px;
    display: inline-block;
  }
  #only-classes{
    background-color: #EDEDED;
    color: #000;
    border-radius: 5px;
    padding: 5px 30px;
    display: inline-block;
  }
  .section-memberships p{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    
  }
  
  /*FOOTER*/
th a img{
  width: 25px;
  margin-left: 20px;
}

th p{
  margin-left: 30px;
  font-weight: 500;  
}

/*LOGO*/
.logo-img{
    position: fixed;
    bottom: 20px;
    right: 35px; 
   
}