html {
    line-height: 1.15; 
    -webkit-text-size-adjust: 100%;
  }
  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #dde1e9;
}
  
  
  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }


  /*HEADER*/
  header{
    z-index: 98;
    background-color: #373867;
    height: 150px;
    width: 100vw;
    
    left: 0;
    top: 0;
    position: fixed;
  }
  header p{
    font-size: 40px;
    color: #fff;
    
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -23px; 
    margin-left: -209px;
   font-weight: bold;
  }

  li img{
    width: 25px;
  }
  ul li input{
    margin-top: 30px;
    margin-left: 70px;
   width: 200px;
   height: 40px;
   border-radius: 5px;
   border: none;
  }
  input::placeholder{
    position: relative;
    left: 5px;
    
  }
  /*ASIDE BAR*/
  aside{
    background-color: #F6F6F6;
    width: 335px;
    position: fixed;
    margin-top: 150px;
    height: 100vh;
    
  }
 
  ul li img{
    margin-left: 20px;
   
  }
  ul li button{
    background-color: #AACE9B;
    border: none;
    width: 240px;
    height: 50px;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 20px;
  }
  ul li button:hover{cursor: pointer;}
  ul li button p{
    font-size: 30px;
    font-weight: bold;
  }


  .info-aside{
    margin-top: 120px;
    width: 330px;
    margin-left: 20px;
    position: relative;
  }
  aside h3{
    margin-left: 65px;
  }
ul{
    list-style-type:none;
}
    ul li img{
        margin-top: 30px;
    }
  
  ul li a{
    justify-content: center;
    align-content: center;
    position: absolute;
    margin-top: 34px;
    margin-left: 20px;
    font-size: 14px;
    text-decoration: none;
    color: #000000;
    font-weight:bold;
    width: 230px;
    
  
}



  /*CONTENIDO*/
  .not-static{
    margin: 0 150px;
    position: absolute;
    left: 335px;
    top: 150px;
  }


  main{
    text-align: center;
    max-width: 1050px;
  }
  .table-activities{
  display: inline-block;
  
}
/*HOME*/
.section-home h1{
  margin: 40px 0;
  font-size: 48px;
  color: #373867;
}
.section-home h2{
  margin: 40px 0;
  font-size: 36px;
  color: #423C3C;
}
.section-home p{
  font-size: 20px;
  font-weight: 600;
  color: #776262;
  max-width: 700px;
  text-align: center;
  display: inline-block;
}
/*OPTIONS*/
.section-options{align-items: center;
  display: inline-block;
  margin-top: 150px;
}
.section-options th{
  text-align: center;
  padding: 30px; 
  margin-bottom: 20px;
  display: inline-block;
}
.section-options img{
  width: 180px;
}
.section-options h5{
  margin-top: 25px;
  font-size: 14px;
}
.section-options p{
  margin-top: 15px;
  font-size: 12px;
  width: 250px;
  display: inline-block;
}


/*REGISTRATION*/

.section-registration h2{
  margin: 40px 0;
  font-size: 40px;
  color: #373867;
}
#name, #lastname, #email{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: rgb(186, 184, 184);
  height: 30px;
  border-radius: 5px;
  width: 330px;
  border: none;
  display: inline-block;
  text-align: center;
}
.section-registration table{
  margin: 20px 0;
  display: inline-block;
}
.section-registration h5{
  text-align: start;
  font-size: 13px;
}
.section-registration h4{
  
  font-size: 14px;
}
.section-registration textarea{
  margin-top: 5px;
  margin-bottom: 10px;
  background-color: #fff;
  min-height: 30px;
  max-height: 150px;
  border-radius: 5px;
  border: none;
  display: inline-block;
  text-align: center;
  min-width: 330px;
  max-width: 330px;
}
.section-registration button{
  width: 110px;
  height: 30px;
  border: none;
  background-color: #AACE9B;
  border-radius: 5px;
  font-size: 16px;
  font-weight: 500;
}
/*ABOUT US*/
.section-about h2{
  margin: 40px 0;
  font-size: 40px;
  color: #373867;
}
.section-about P{
 text-align: center;
 padding: 50px 100px;
 text-align: center;
 display: inline-block;
 width: 800px;
  background-color: rgba(170, 206, 155, .3);
}


/*ACTIVITIES*/
.section-activities h2{
  margin: 40px 0;
  font-size: 40px;
  color: #373867;
}
.table-activities img,.table-activities h5{
  margin-left: 50px;
  margin-top: 30px;
}
  .table-activities img{
    width: 300px;
    height: 220px;
  }
/*MEMBERSHIPS*/
  .section-memberships h2{
    margin: 40px 0;
    font-size: 40px;
    color: #373867;
  }
  .section-memberships h5{
    font-size: 20px;
    font-weight: 500;
  }
  #black{
    background-color: #2A2A32;
    color: #FFF;
    border-radius: 5px;
    padding: 5px 30px;
    display: inline-block;
    width: 300px;
  }
  #classic{
    background-color: #CCCBCB;
    color: #000;
    border-radius: 5px;
    padding: 5px 30px;
    display: inline-block;
    margin-top: 20px;
    width: 300px;
  }
  #only-classes{
    background-color: #EDEDED;
    color: #000;
    border-radius: 5px;
    padding: 5px 30px;
    display: inline-block;
    margin-top: 20px;
    width: 300px;
  }
  .section-memberships p{
    display: block;
    margin-top: 20px;
    font-size: 14px;
    
  }
  
  /*FOOTER*/
  footer{
    margin-top: 70px;
    margin-bottom: 20px;
  }
th a img{
  width: 25px;
  margin-left: 20px;
}

th p{
  margin-left: 30px;
  font-weight: 500;  
}

/*LOGO*/
.logo-img{
    position: fixed;
    bottom: 20px;
    right: 35px; 
   
}