<!DOCTYPE html>
<html lang="en">
<head>
    <script src="../js/sign-up.js"></script>
    <link
    href="shorturl.at/dqHY2"
    rel="stylesheet">
    <link rel="stylesheet" href="../css/normalize.css">
    <link rel="stylesheet" href="../css/sign-up.css">
    <link rel="icon" href="../../assets/images/image-logo-01.png">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
</head>
<body>
    <head>
        <header>
                <p>
                Mega Rocket SA
                </p>
        </header>
    </head>
    <a href="./index.html"><h6>
        < back to landing page
    </h6></a>
    <main>
        <h2>
            Sign Up
        </h2>
        <div class="sign-up-container">
            <div class="Column-Container">
                <div>
                    <h4>
                        Name
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>

                <div>
                    <h4>
                        Document number
                    </h4>
                    <input type="number" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        Phone Number
                    </h4>
                    <input type="number" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        City
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        Email
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        Repeat Password
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>
            </div>
            <div class="Column-Container">
                <div>
                    <h4>
                        Last Name
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>

                <div>
                    <h4>
                        Birth date
                    </h4>
                    <input type="date" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        Address
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        Postal Code
                    </h4>
                    <input type="number" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <h4>
                        Password
                    </h4>
                    <input type="text" id="name" name="name" placeholder="" required>
                </div>
                <div>
                    <button>
                        <a href="./login.html">
                            Sign Up
                        </a>
                    </button>
                </div>
            </div>
        </div>
    </main>
</body>
</html>