::-webkit-scrollbar {
  display: none;
}
h1{
    color: rgba(55, 56, 103,1);
    width: 300px;
}
h2{
    margin: 40px 0;
    font-size: 26px;
    color: rgba(55, 56, 103,1);
    text-align: center;
  }
ul{
    list-style-type:none;
}
a img{
    width: 25px;
}
p{
    font-weight: 500;
    width: 300px !important;
  }
  /*TABLET*/
@media only screen and (min-width: 601px) and (max-width: 1024px) {
  h2{
    margin: 40px 0;
    font-size: 36px;
    color: rgba(55, 56, 103,1);
    text-align: center;
  }
  ul{
    list-style-type:none;
  }
  a img{
    width: 35px;
    }
  p{
    font-weight: 500;
    width: 600px !important;
  }
  }
/*Desktop*/
@media only screen and (min-width: 1024px) {
  hr{
    width: 30%;
  }
  a img{
    width: 35px;
  }
}
label{
  display: flex;
  flex-direction: column;
  text-align: start;
}
.error{
  margin-top: 5px;
  color: red;
}
.invalid{
  border: solid 1px red;
}
form span{
  color: rgb(255, 0, 0);
  position:fixed;
  margin-top: 65px !important;
}
form{
  display: flex;
  flex-direction: column;
  align-items: center;
}
form div{
  display: flex;
  flex-direction: column;
}
